import init.sun4i.usb.rc

on early-init
	export EXTERNAL_STORAGE /mnt/sdcard
	mkdir /mnt/sdcard 0000 system system
	# for backwards compatibility
	symlink /mnt/sdcard /sdcard
	
	mkdir /mnt/extsd 0000 system system
	mkdir /mnt/usbhost1 0000 system system

on fs
    mount ext4 /dev/block/nandc /system wait noatime nodev barrier=0

# try to mount /data
	wait /dev/block/nandd
	mount ext4 /dev/block/nandd /data wait noatime nosuid nodev barrier=0
	setupfs /dev/block/nandd	
	umount /data
	exec /system/bin/logwrapper /system/bin/e2fsck -y /dev/block/nandd
	exec /system/bin/busybox mount -t ext4 -o noatime,nosuid,nodev,barrier=0,noauto_da_alloc,commit=15,nodelalloc /dev/block/nandd /data 

# try to mount /cache
    mount ext4 /dev/block/nandg /cache wait noatime nosuid nodev barrier=0
	setupfs /dev/block/nandg
	umount /cache
    exec /system/bin/logwrapper /system/bin/e2fsck -y /dev/block/nandg 
    exec /system/bin/busybox mount -t ext4 -o noatime,nosuid,nodev,barrier=0,noauto_da_alloc,commit=15,nodelalloc /dev/block/nandg /cache 
        
    format_userdata /dev/block/nandi Teclast

on boot

# gsensor module
	insmod /drv/mecs.ko	
	insmod /drv/mxc622x.ko
	chmod 777 /system/bin/memsicd	
	mkdir /data/misc/sensors 0777 system system

#insmod key & tp driver
	insmod /drv/goodix_touch.ko
	insmod /drv/ft5x_ts.ko
	insmod /drv/sun4i-keyboard.ko

# insmod mali driver 
#	insmod /drv/ump.ko
#	insmod /drv/mali.ko

#csi module
	insmod /drv/videobuf-core.ko
 	insmod /drv/videobuf-dma-contig.ko
	insmod /drv/sp0838.ko
# 	insmod /drv/hi704.ko
 	insmod /drv/sun4i_csi0.ko



#service memsicd /system/bin/logwrapper /system/bin/memsicd
#	 class main
	


